[access]
	inheritFrom = craftbukkit-plugins
[project]
	state = active
	description = Fork of the GitHub repository <https://github.com/Tux2/PlayerChestDeath>.\n\
\n\
"A Craftbukkit plugin that allows players to drop chest tile entities containing their inventories when they die in Minecraft, instead of just spilling the contents of their inventory out as items.  See <http://dev.bukkit.org/bukkit-plugins/deadmanschest/> for the description of the original project."
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	read = group Anonymous Users
	read = group Registered Users
